@model IEnumerable<Models.sach>

@{
    ViewBag.Title = "Sách";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DANH SÁCH SÁCH</h2>

<table class="table">
    <tr>
        <th>Mã sách</th>
        <th>Tên sách</th>
        <th>Số lượng</th>
        <th>Lĩnh vực</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.masach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tensach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sluong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.linhvuc1.tenlv)
        </td>
    </tr>
}

</table>
