
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="component">
    <div class="sticky-wrap">
            <h2 class="text-center">LỖI KHI LƯU DỮ LIỆU</h2>
            <br>
        @Html.ActionLink("Trở về trang chủ", "Index", "Home", new { @class="text-center" })
    </div>
</div>
